<%- include("template/cabecera", {tituloWeb: 'Ingresar'}) %> 

    <div class="container">
        <h1>Ingresar</h1>
        <form action="/servicios" method="POST">
            <input 
                type="text"
                placeholder="usuario"
                class="form-control my-2"
                name="usuario"
            >
            <input 
                type="text"
                placeholder="password"
                class="form-control my-2"
                name="password"
            >
            <div class="d-grid gap-2"> 
                <button
                    class="btn btn-success"
                    type="submit"
                >
                Ingresar
                </button>
            </div>
        </form>
        

    </div>
    
<%- include("template/footer") %>   